img.img-thumbnail {
    height: 100px;
    /* important to overwrite any other styling */
    min-width: 100px !important;
    margin-bottom: 2px;
}

/* this will provide a red border around the drop photos area b*/
.nv-file-over {
    border: dotted 3px red;
}

/* Hide the name of the file */
input[type=file] {
    color: transparent;
}